<div class="center jumbotron">
  <h1>Welcome to mivid!</h1>

  <h2>
    A way to waste any time you had left after using ubernote!
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails logo"),
            'http://rubyonrails.org/' %>